.navbar-brand img {
  max-height: 40px;
}
.navbar-light .navbar-nav .nav-link {
  color: #346545;
  font-size: 24px;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #346545;
}
.tulisan {
  color: #346545;
  font-size: 24px;
  font-weight: bold;
}
